*
	font-family: 'Museo Sans Cyrl', Arial, "Helvetica Neue", Helvetica, sans-serif

@import "base/_variables"
@import "base/_mixin"
@import "blocks/_button"
@import "blocks/_header"

.container
	max-width: 950px
	margin: 0 auto

.promo
	min-height: 650px
	padding: 21px 0 93px 0
	background: url(../img/bg/bg-header.jpg) center (center/cover) no-repeat

